✅ debian/12/haproxy - Valid config
