✅ debian/11/postgresql - Valid config
