⚠️  ubuntu/24.04/rabbitmq - No tests
