⚠️  alpine/3.19/mongodb - No tests
