⚠️  debian/12/mysql - No tests
