⚠️  debian/11/mysql - No tests
