✅ debian/11/redis - Valid config
