⚠️  alpine/3.19/elasticsearch - No tests
