⚠️  debian/12/rabbitmq - No tests
