⚠️  alpine/3.19/prometheus - No tests
