⚠️  ubuntu-minimal/22.04/rabbitmq - No tests
