⚠️  alpine/3.19/rabbitmq - No tests
