✅ debian/11/memcached - Valid config
