⚠️  ubuntu-minimal/22.04/grafana - No tests
