✅ debian/11/haproxy - Valid config
