⚠️  alpine/3.19/mysql - No tests
