⚠️  debian/11/rabbitmq - No tests
