✅ ubuntu/22.04/haproxy - Valid config
