⚠️  ubuntu-minimal/22.04/mysql - No tests
