✅ debian/11/nginx - Valid config
